body {
  background: #c5e4e7;
  margin: 0;
  font-family: "Space Mono", monospace;
  height: 100vh;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.main {
  background: #c5e4e7;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
}
.container {
  padding: 32px;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
}

.bill-inp {
  background-color: #f3f9fa;
  border-radius: 5px;
  border: none;
  width: 85%;
  background-image: url(/images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left 10px top 15px;
  padding: 10px;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #00474b;
  padding-left: 25px;
}
.tip,
.number,
.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
.btn-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.btn,
.btn-six {
  background: #00474b;
  border-radius: 5px;
  width: 47%;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  border: none;
  justify-content: center;
  padding: 10px;
}
.btn-six {
  background-color: #f3f9fa;
  color: #547878;
  width: 35%;
  padding-left: 25px;
  border: none;
}
.people-inp {
  background-color: #f3f9fa;
  border-radius: 5px;
  border-color: #f3f9fa;
  width: 90%;
  background-image: url(/images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left 10px top 15px;
  padding: 10px;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #00474b;
  padding-left: 25px;
  border: none;
}

.result {
  background: #00474b;
  border-radius: 15px;
}
.div-one,
.div-two {
  display: flex;
  justify-content: space-between;
}
.amount,
.total {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}
.person {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  margin: 0;
  color: #7f9d9f;
}
.tip-number,
.total-number {
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;
  color: #26c2ae;
  margin-top: 17px;
}
.result {
  padding: 24px;
  margin-top: 30px;
}
.reset {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #00474b;
  background: #26c2ae;
  border-radius: 5px;
  width: 100%;
  border: none;
  padding: 10px;
}
.text-error {
  display: flex;
  justify-content: space-between;
}

.error {
  color: #e17052;
}

.error-inp {
  border: 2px solid #e17052;
}
.reset:hover {
  background-color: #9fe8df;
}
.btn:hover {
  background-color: #9fe8df;
  color: #00474b;
}

.border {
  border: 3px solid #26c2ae;
}

.bill-inp:hover {
  border: 3px solid #26c2ae;
}
.bill-inp:active{
  border: none;
}

@media screen and (min-width: 1440px) {
  .logo {
    padding: 163px;
  }
  .container {
    width: 60%;
    margin: auto;
    padding: 32px;
    display: flex;
    border-radius: 25px;
    margin: 0 0 200px 0;
  }

  .result {
    width: 50%;
    padding-right: 20px;
  }
  .div-des{
    padding: 20px;
    width: 50%;
  }
  .result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .bill-inp{
    width: 90%;
  }
  .btn{
    width: 30%;
  }
  .btn-six{
    width: 24%;
    padding-left: 10px;
  }
  .reset{
    background-color: #0D686D;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
